setup/lab3_coach/factory/pipeline/pl_GroupControl.json
{
	"name": "pl_GroupControl",
	"properties": {
		"activities": [
			{
				"name": "Get Groups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT DISTINCT GroupID\nFROM Integration.[ETL Cutoff]\nWHERE isActive = 1 \nORDER BY GroupId",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TargetASA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Table List Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Groups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Groups').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute pl_TableControl",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_TableControl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"GroupNumber": {
										"value": "@item().GroupId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"testid": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}