setup/lab3_coach/factory/pipeline/pl_TableControl.json
{
	"name": "pl_TableControl",
	"properties": {
		"activities": [
			{
				"name": "Get Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('select [Table Name] as TableName\n  from integration.[etl cutoff]\nwhere isActive = 1 and GroupId = ',string(pipeline().parameters.GroupNumber), ' \norder by sequenceid')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TargetASA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Table List Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Assign Table List Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TableNames')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute pl_Import Data From SRC",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_Import Data From SRC",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Assign Table List Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableNames",
					"value": {
						"value": "@activity('Get Tables').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"GroupNumber": {
				"type": "int"
			}
		},
		"variables": {
			"TableNames": {
				"type": "Array"
			},
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}